<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="dropdown pull-right hidden-xs hidden-sm">
            <a ng-click="model.logout()" class="btn btn-danger" type="button" data-toggle="dropdown">Logout
            </a></div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/home/{{model.userID}}">Search</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="visible-xs visible-sm" role="presentation">
                        <a ng-if="model.user.type == model.admin" href="#/user/{{model.userID}}/administration">Manage users</a>
                </li>
                <li class="visible-xs visible-sm" role="presentation">
                    <a href="#/user/{{model.userID}}/reviews">My Reviews</a>
                </li>
                <li class="visible-xs visible-sm" role="presentation">
                    <a href="#/user/{{model.userID}}">My Profile</a>
                </li>
                <li class="visible-xs visible-sm">
                    <a href="#/user/{{model.userID}}/messages">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<div class="col-md-2 col-lg-2 ln-navbar">
    <ul class="nav nav-pills nav-stacked hidden-xs hidden-sm">
        <li><a ng-if="model.user.type == model.admin" href="#/user/{{model.userID}}/administration">Manage users</a></li>
        <li><a href="#/user/{{model.userID}}">My Profile</a></li>
        <li><a href="#/user/{{model.userID}}/reviews">My Reviews</a></li>
    </ul>
</div>
<div class="container-fluid msglist col-md-10">
        <div class="media" ng-repeat="sms in model.messages | filter: model.query | orderBy: '-date'">
            <div class="panel panel-info">
                <div class="panel-heading">{{sms.from}} says :
                <div class="pull-right msgb">
                    <a class="btn btn-danger" ng-click="model.deleteMessage(sms._id)">delete</a>
                    <a class="btn btn-info" data-toggle="modal" data-target="#myModal"
                       ng-click="model.sendinfo(sms.from_id, sms.from)" >reply</a>
                </div>
                </div>
                <div class="panel-body"> {{sms.message}}</div>
        </div>
    </div>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
        </div>
    </div>
</nav>


<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="reviewtitle">
                        <h4 class="modal-title">Reply to {{model.replyto}}</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea id="reviewdes" ng-model="model.message.data"
                                  placeholder="Type your message here" rows="3" cols="50"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success sb" data-dismiss="modal"
                       ng-click="model.reply(model.message)">Send</a>
                </div>
            </div>

        </div>
    </div>

</div>
