
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userID}}/website/{{model.websiteID}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Pages
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userID}}/website/{{model.websiteID}}/page/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>

        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="#/user/{{model.userID}}/website/{{model.websiteID}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    Edit Page
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">


    <div class="col-sm-4 pull-left hidden-xs">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-6">
                        Name
                    </div>
                    <div class="col-sm-1 col-xs-6 pull-right">
                        <a href="#/user/{{model.userID}}/website/{{model.websiteID}}/page/new" class="pull-right">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </li>
        <ul class="list-group">
            <li ng-repeat="page in model.pages" class="list-group-item">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#/user/{{model.userID}}/website/{{model.websiteID}}/page/{{page._id}}/widget">
                            {{page.name}}
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#/user/{{model.userID}}/website/{{model.websiteID}}/page/{{page._id}}" class="pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>

        </ul>
        </ul>
    </div>

    <div class="col-sm-8">

        <div class="form-group">
        <label for="page-edit-page-name">Name</label>
        <input class="form-control"
               ng-model="model.page.name"
               id="page-edit-page-name"
               value="Blog Post"
               type="text" />
        </div>

        <div class="form-group">
        <label for="page-edit-page-title">Title</label>
        <input class="form-control"
               ng-model="model.page.description"
               placeholder="Page Title"
               id="page-edit-page-title"
               type="text" />
        </div>

        <div class="form-group">
            <a class="btn btn-primary btn-block" ng-click="model.editPage(model.page)">
                Update
            </a>
        </div>

        <div class="form-group">
        <a class="btn btn-danger btn-block" ng-click="model.deletePage()">
            Delete
        </a>
        </div>

    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userID}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
