<nav class="navbar navbar-default navbar-fixed-top container-fluid PageNav">
    <div>
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                <span class="glyphicon glyphicon-chevron-left PageStyle"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <div class="PageStyle"> Edit YouTube Widget </div>
            </a>
        </div>
    </div>
</nav>


<div class="form-group container Uname">

    <div class="form-group">
        <label for="wid-name">Name</label>
        <input type="text" id="wid-name" placeholder="Name" class="form-control">
    </div>

    <div class="form-group">
        <label for="wid-text">Text</label>
        <input type="text" id="wid-text" placeholder="Text" class="form-control">
    </div>

    <div class="form-group">
        <label for="wid-url">URL</label>
        <input type="url" min="0" ng-model="model.widget.url" id="wid-url" class="form-control">
    </div>

    <div class="form-group">
        <label for="wid-width">Width</label>
        <input ng-model="model.widget.width" type="text" id="wid-width" class="form-control">
    </div>

    <div class="form-group">
        <a class="btn btn-info btn-block" ng-click="model.update(model.widget)">
            Update
        </a>
    </div>


    <div class="bottombtns">
        <a class="btn btn-danger btn-block" ng-click="model.delete()">Delete</a>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom container-fluid PageNav">
    <div class="navbar-text pull-right">
        <a href="#/user/{{model.uid}}">
            <span class="glyphicon UserStyle glyphicon-user PageStyle"></span>
        </a>
    </div>
</nav>
