<nav class="navbar navbar-default navbar-fixed-top container-fluid PageNav">
    <div>
        <div class="navbar-text pull-right">
            <a href="widget-list.html">
                <span class="glyphicon glyphicon-ok PageStyle"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a href="widget-list.html">
                <span class="glyphicon glyphicon-chevron-left PageStyle"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <div class="PageStyle"> Edit HTML Widget </div>
            </a>
        </div>
    </div>
</nav>



<nav class="navbar navbar-default navbar-fixed-bottom container-fluid PageNav">
    <div class="navbar-text pull-right">
        <a href="../user/profile.html">
            <span class="glyphicon UserStyle glyphicon-user PageStyle"></span>
        </a>
    </div>
</nav>