
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userID}}/website/{{model.websiteID}}/page/{{model.pageID}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right" ng-click="model.updateWid(model.widget)">
            <a href="">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                Edit Image Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="widget-image-widget-name">Name</label>
    <input class="form-control"
           ng-model="model.widget.name"
           id="widget-image-widget-name" placeholder="Name" type="text"/>

    <label for="widget-image-widget-title">Title</label>
    <input class="form-control"
           ng-model="model.widget.title"
           id="widget-image-widget-title" type="text"></input>

    <label for="widget-image-widget-url">URL</label>
    <input class="form-control"
           ng-model="model.widget.url"
           value="https://i.kinja-img.com/gawker-media/image/upload/s--gbj0N1ZQ--/c_scale,fl_progressive,q_80,w_800/fupi5rlzxnwhvfv1qgib.jpg" id="widget-image-widget-url" type="url"></input>

    <label for="widget-image-widget-width">Width</label>
    <input class="form-control"
           ng-model="model.widget.width"
           value="100%" id="widget-image-widget-width" type="text"></input>


    <form id="upload-form" class="form-group" action="/api/upload"  method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <input  name="userId" value="{{model.userID}}"   style="display: none"/>
        <input  name="pageId" value="{{model.pageID}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteID}}"   style="display: none"/>

        <button  type="submit" class="btn btn-block btn-primary form-control">Upload Image</button>
    </form>

    <div class="form-group">
        <a href="#/user/{{model.userID}}/website/{{model.websiteID}}/page/{{model.pageID}}/widget/{{model.widget._id}}/flicker"
           class="btn btn-info form-control">Search</a>
    </div>

    <a class="btn btn-danger btn-block" ng-click="model.deleteWidget()">
        Delete
    </a>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userID}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

