
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="" ng-click="model.update(model.user)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                Profile
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-show="model.message" class="alert alert-success">
        {{model.message}}
    </div>

    <div class="form-group">
    <label for="profile-username">Username</label>
    <input class="form-control"
           ng-model="model.user.username"
           id="profile-username"
           value="akash"
           type="text"/>
    </div>

    <div class="form-group">
    <label for="profile-mail">Email</label>
    <input class="form-control"
           ng-model="model.user.email"
           value="akashc@gmail.com"
           id="profile-mail"
           type="email"/>
    </div>


    <div class="form-group">
    <label for="profile-fname">First Name</label>
    <input class="form-control"
           ng-model="model.user.firstName"
           id="profile-fname"
           value="Akash"
           type="text"/>
    </div>

    <div class="form-group">
    <label for="profile-lname">Last Name</label>
    <input class="form-control"
           ng-model="model.user.lastName"
           id="profile-lname"
           value="C"
           type="text"/>
    </div>


    <div class="form-group">
    <a href="#/user/{{model.user._id}}/website" class="btn btn-primary btn-block" >
        Websites
    </a>
    </div>


    <div class="form-group">
    <a class="btn btn-warning btn-block" ng-click="model.unRegisterUser(model.user)">
        Delete
    </a>
    </div>

    <div class="form-group">
    <a class="btn btn-danger btn-block" href="#/login">
        logout
    </a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

