
<div class="container-fluid">
        <h1>Register</h1>
        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>
        <input class="form-control"
               ng-model="model.user.username"
               placeholder="username"/>

        <input class="form-control"
               placeholder="password"
               ng-model="model.user.password"
               type="password"/>

        <input class="form-control"
               placeholder="verify password"
               type="password"/>

        <a class="btn btn-primary btn-block" ng-click="model.register(model.user)">
            Register
        </a>

        <a class="btn btn-danger btn-block" href="#/login">
            Cancel
        </a>
</div>

