<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="css/bootstrap.js" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="col-xs-6">
        <h1>Login</h1>

        <input class="form-control"
               placeholder="username"/>
        <input class="form-control"
               placeholder="password"
               type="password"/>

        <a class="btn btn-primary btn-block">
            Login
        </a>
        <a class="btn btn-success btn-block" href="#/register">
            Register
        </a>
    </div>
<div class="col-xs-6">
    <h1>Register</h1>
    <input class="form-control"
           ng-model="model.user.username"
           placeholder="username"/>

    <input class="form-control"
           placeholder="password"
           ng-model="model.user.password"
           type="password"/>

    <input class="form-control"
           placeholder="verify password"
           type="password"/>

    <a class="btn btn-primary btn-block" ng-click="model.register(model.user)">
        Register
    </a>

    <a class="btn btn-danger btn-block" href="#/login">
        Cancel
    </a>
    </div>

</div>

</body>
</html>